.header {
    padding: 18px 0;
    background: rgba(33, 33, 33, 0.8);
    backdrop-filter: blur(11px);
    min-width: 280px !important;

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__left {
            display: flex;
            gap: 20px;
            align-items: center;
            transition: all .3s ease-in;

            &__mob {
                display: none;
            }

            a {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 24px;
                color: #FFFFFF;
                text-decoration: none;
                transition: all .3s ease-in;
            }
        }

        &__logo {
            height: 35px;
            width: 146px;
            background: url(../img/logo.png) no-repeat;
            background-position: center;
            background-size: cover;
            transition: all .3s ease-in;
        }

        &__right {
            &>ul {
                display: flex;
                gap: 20px;
                align-items: center;
                list-style: none;
                transition: all .3s ease-in;

                li {
                    cursor: pointer;
                }
            }
        }
    }
}

@media only screen and (max-width:768px) {
    .header {
        .nav {
            &__left {
                gap: 15px;

                a {
                    font-size: 15px;
                }
            }

            &__logo {
                height: 30px;
                width: 140px;
            }

            &__right {
                &>ul {
                    gap: 15px;
                }
            }
        }
    }
}

@media only screen and (max-width:550px) {
    .header {
        .nav {
            &__left {
                &__3 {
                    display: none;
                }

                &__mob {
                    display: flex;
                }
            }
        }
    }
}

@media only screen and (max-width:320px) {
    .header {
        .nav {
            &__left {
                display: flex;
                gap: 3px;
            }

            a {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 10px;
                line-height: 10px;
            }
        }

        &__logo {
            height: 25px;
            width: 136px;
            background: url(../img/logo.png) no-repeat;
            background-position: center;
            background-size: cover;
            transition: all .3s ease-in;
        }

        &__right {
            &>ul {
                display: flex;
                gap: 20px;
                align-items: center;
                list-style: none;
                transition: all .3s ease-in;

                li {
                    cursor: pointer;
                }
            }
        }
    }
}

@media only screen and (max-width:425px) {
    .header {
        .nav {
            &__right {
                display: none;
            }

            }
        }

    }